// Place all the styles related to the charts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  margin-bottom: 5px;
}

.form-control.header-cell {
    border:0px;
    background-color: #fff;
    text-decoration: underline;
    font-weight: bold;
    border-bottom-width: 1px;
    padding-top:15px;
}

.card-footer {
    background-color:#fff !important;
}

.product-list {
    height:500px;
    overflow:hidden;
}

.product-list .card-body {
  /* overflow: hidden; */
    overflow-y: auto;
}

.product-list img {
    width:60px;
    height:60px;
}

product-list-item label {
    padding-top:5px;
}

.product-list .card-header h5, h6 {
    display: inline-block;
}

.list-icons {
    width:15px;
    height:15px;
    margin-right:15px;
}

.app-wrapper {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.btns-row {
    padding: 15px;
}

.product-list-item .product-view {
    padding-top: 15px;
}

.product-list-item {
    border-bottom: 1px solid #DADADA;
    padding-bottom:3px;
    padding-top:10px;
}

.alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.has-search {
  position: static;
}


.alert-notice {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.product-list-item .custom-control-label::after, .product-list-item .custom-control-label::before {
  margin-top: 15px;
}

label.custom-control-label img {
  margin-right: 30px;
  margin-left: 30px;
  /* padding-right: 30px; */
}

.chart-list .card-body {
  /* overflow: hidden; */
  overflow-y: auto;
}

.chart-list-item {
  border-bottom: 1px solid #DADADA;
  padding-bottom:3px;
  padding-top:10px;
}

.cahrt-list ,card-record-title a {
  color:#000;
}

.btn {
  min-width:100px;
}

.card-footer .btn {
  float:right;
}

.header-links {
  float:right
}

.header-links img {
  width:30px;
  height:30px;
  margin-right:15px;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
}

#spinner {
  background: none repeat scroll 0 0 black;
  position: fixed;
  display: block;
  opacity: 0.5;
  z-index: 1000001; // or, higher
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.spinner-circle {
  position: absolute;
  left:50%;
  top:50%;
}


// @-webkit-keyframes spin {
// from {-webkit-transform:rotate(0deg);}
// to {-webkit-transform:rotate(360deg);}
// }

// @keyframes spin {
// from {transform:rotate(0deg);}
// to {transform:rotate(360deg);}
// }

