// Place all the styles related to the charts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  margin-bottom: 5px;
}


.header-cell{
  border:0px;
  background-color: #eeeeee;
}

.card-footer {
  background-color:#fff !important;
}

.product-list {
  height:500px;
  overflow:scroll;
}

.product-list img {
    width:60px;
    height:60px;
}

product-list-item label {
  padding-top:5px;
}

.product-list-item {
    border-bottom: 1px solid #DADADA;
    padding-bottom:10px;
}

.btn {
  min-width:100px;
}

.card-footer .btn {
  float:right;
}

.header-links {
  float:right
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
}